# Python virtual environment
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Git directory
.git/
.gitignore

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Media
Documentation